@charset "UTF-8";

html {
  font-size: 2rem;
}

a {
  text-decoration: none;
  display: block;
  width: auto;
}


li {
  list-style: none;
}

.container {
  display: flex;
  width: 100%;
}


header {
  width : 12%;
  min-width: 2rem;
  position: fixed;
  height:100vh;
  top:0;
  z-index: 100;
  background-color: rgb(217,217,217);
}

main {
  margin-left :5.7rem;
  width: 100%;
  position: relative;
}

main .section {
  margin-left: 10%;
}

footer {
  margin-left: 10%;
}

.side_bar_list {
  text-align: center;
  margin-top: 8rem;
}

.side_bar_inner p{
  font-size: 0.5rem;
  text-align: center;
  margin-top: -1.2rem;
}

.side_bar_list ul li {
  line-height: 2.5rem
}

.side_bar_list ul li a {
  color: black;
}

.side_bar_list ul li a:hover {
  letter-spacing: 0.15em;
}

.header_wrapper .inner .side_bar_icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top_main_background {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 0;
}

.top_main_background_icon {
  display: block;
  border-radius: 50%;
  text-align: center;
  width:15%;
  height: 2.5%;
  background-color: rgba(255,255,255,50%);
  position: absolute;
  top: 4%;
  left: 44%;
  text-align: center;
  z-index: 1;
}

.top_main_background_icon p {
  font-family: bold;
  font-size:0.8rem
}

.section_inner h2{
  font-size: 1.8rem;
  text-align: center;
  margin-top: 1.3rem;
  margin-bottom: 2rem;
}

.section_inner_explanation {
  text-align:  center;
  font-size: 1.3rem
}

.topic { 
  box-sizing: border-box;
  height: 70%;
  width: 100%;
  padding: 4%;
}


.topic_photo_item {
  display: block;
  box-sizing:border-box;
  height: 60vh;
  width: 100%;
  object-fit: cover;
}

.topic_explanation_inner {
  height: 100%;
  border: solid;
  text-align: center;
  line-height: 1.8rem;
  background-color: rgba(245,245,245)
}

.topic_explanation_inner h1 {
  display: block;
  font-family: bold;
  font-size: 1.3rem;
  margin-top: 1rem;
}

.topic_explanation_inner p {
  font-size: 1rem;
}

.section_inner_list {
  display: flex;
  justify-content: center;
}

.news_content  {
  font-size: 0.8rem;
  border-top: solid;
  border-bottom: solid;
  border-width: 6px;
  margin-left: 1rem;
  width: 78%;
  padding-left: 1rem;
  padding-bottom: 1rem;
  text-align: left;
  margin-bottom: 2rem;;
}

.news_content li {
  margin-top:1.5rem;
}

.menu_content {
  display: flex;
  width: 90%;
  margin-bottom:2rem;
  margin-left:4rem;
}

.menu_photo {
  width: 45%;
}

.menu_description {
  width: 45%;
  padding: 2rem;
}

.menu_description_topic_inner {
  border-top: solid;
}

.menu_photo1{
  width: 100%;
  background-image: url(../img/MENU/menuphoto1.webp);
  background-size: cover;
}

.menu_photo2 {
  width: 100%;
  background-image: url(../img/MENU/menuphoto3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.menu_photo3 {
  width: 100%;
  background-image: url(../img/MENU/menuphoto5.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu_description h3 {
  text-align: center;
  font-size: 1.8rem;
  font-family: bold;
}

.menu_description h4{
  text-align: center;
  margin-top: 1.1rem;
  font-size: 1.1rem;
  color:rgb(126,126,126);
}

.menu_description_topic {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 1.3rem;
  font-family: bold;
}


.menu_description_topic_inner p{
  text-align: center;
  line-height: 1.2rem;
}

.menu_description_topic_inner_img {
  width: 16rem;
  height: 12rem;
}

.menu_description_topic_inner_img img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  margin-top:1.8rem;
}

#CONTACT {
  background: rgba(78, 137, 105,47%);
}

#CONTACT h2  {
  text-align: center;
  padding-top :2rem;
  font-size:1.8rem;
}

.form {
  width: 70%;
  margin: 0% auto;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

label {
  display: inline-block;
  width:30%;
  line-height: 2;
  font-family: bold;
}

input,
textarea {
  box-sizing: border-box;
  border: solid #ddd 1px;
  width: 60%;
  margin-bottom: 2.5%;
  border: solid;
  border-width: thin;
}

input {
  padding: 1.4%;
}

textarea {
  vertical-align: top;
  height: 250px;
}

.button {
  text-align: center;
}

.btn:hover {
  opacity: 0.7;
}

.c-btn {
  padding-bottom: 0rem;
}
.btn {
  width: 10%;
  padding: 1.5% 1%;
  font-size: 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  color: rgb(239, 225, 225);
  background: #444;
  line-height: 1;
  border-radius: 50px;
  transition: all 0.2s;
}

#footer {
  background-color: rgb(126,126,126);
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.footer_inner {
  text-align: center;
}

.footer_inner img {
  display:inline-block;
  width: 5%;
  height: auto;
  object-fit: cover;
  position: relative;
}

.footer_inner p {
  font-size: 0.5rem;
}
